
<nav class="navbar navbar-expand-sm   navbar-dark sticky-top" style="background-color: #384452;">

  <h3 class="navbar-brand"  >AMBALA</h3>


    <ul class="navbar-nav ml-auto">

      <li class="nav-item"><%= link_to "Home", root_path , class: 'nav-link'%></li>
      <li class="nav-item"><%= link_to "About Us", about_me_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Contact", contact_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Posts", blogs_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Projects", portfolios_path, class: 'nav-link' %></li>
      <%= login_helper 'nav-link' %>
    </ul>
  </nav>
